body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

.task-input {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-item div {
  margin: 5px 0;
}

.edit-button {
  background-color: #ffc107;
}

.delete-button {
  background-color: #dc3545;
}

.task-button:hover {
  opacity: 0.8;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.save-button {
  background-color: #28a745;
}

.save-button:hover {
  background-color: #218838;
}
